{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <!--        링크 추가, 클릭 시 해당하는 /post-detail/어딘가/로 이동-->
        <h5 class="card-title">
            <a href="{% url 'url-name-post-detail' pk=post.pk %}">{{ post.title }}</a>
        </h5>
        <p class="card-text">{{ post.text|linebreaksbr|truncatechars:250 }}</p>
        <div>
            <div class="btn-container float-left">
<!--                <form action="/posts/{{ post.pk }}/delete/" class="d-inline-block" method="POST">-->
                <form action="{% url 'url-name-post-delete' pk=post.pk %}" class="d-inline-block" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
<!--                <a href="/posts/{{ post.pk }}/delete">Delete</a>-->
                <button class="btn btn-info btn-sm">Edit</button>
            </div>
            <div class="text-right">
                <span>{{ post.created_date }}</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
