<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Post List</h1>
    <div>
        <p>published: 12.11.2109, 14:38</p>
        <h2><a href="">My First Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut culpa dolorem eligendi eos error eum impedit necessitatibus, nisi odio perferendis praesentium quam reiciendis repudiandae sint, sit tenetur ullam velit.</p>
    </div>
    <div>
        <p>published: 12.11.2019, 14:39</p>
        <h2><a href="">My Second Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut culpa dolorem eligendi eos error eum impedit necessitatibus, nisi odio perferendis praesentium quam reiciendis repudiandae sint, sit tenetur ullam velit.</p>    </div>
    </div>
</body>
</html>